body {
    background-image: url("imagens/fundo-olhos.jpg");
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 20px;
}

#div-grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
    gap: 3px;
    padding: 0 15%;
}

#div-main-header {
    grid-column: 1/2;
    color: #ffe4c4;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

#div-nav {
    grid-column: 2 / 3;
    color: #ffe4c4;
    margin-top: 27px;
    margin-right: 50px;
    margin-bottom: 27px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #27130d;
}

.divs-grid {
    border: 2px solid white;
    border-radius: 10px;
    background-color: #27130d;
    margin: 3px;
}

header, p {
    margin: 15px;
}

img {
    padding-left: 15px;
    padding-bottom: 15px;
}

h1 {
    padding-right: 25px;
    padding-left: 25px;
    color: red;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

nav ul {
    padding: 5px;
}

nav ul li {
    list-style-type: none;
    margin-bottom: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #ffe4c4;
}