body {
    background-image: url("imagens/fundo-olhos.jpg");
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 20px;
}

#div-grid {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: auto;
    gap: 3px;
    padding: 0 20%;
}

#div-main-header {
    color: #ffe4c4;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.divs-grid {
    border: 2px solid white;
    border-radius: 10px;
    background-color: #27130d;
    margin: 3px;
}

.two-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.two-box p {
    word-wrap: break-word;
}

details {
    display: flex;
    cursor: pointer;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

details summary {
    color: red;
    margin: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

p {
    margin: 15px;
}

img {
    max-width: 100%;
    height: auto;
    padding: 1%;
    border-radius: 15px;
}

h1 {
    padding-right: 25px;
    padding-left: 25px;
    color: red;
    margin: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style-type: none;
    margin-right: 10%;
    margin-left: 10%;
}

nav ul li a {
    text-decoration: none;
    color: #ffe4c4;
    background-color: red;
    padding: 10%;
    border: 2px solid white;
    border-radius: 10px;
}

a:hover {
    padding: 20%;
    transition: 0.5s;
}

summary:focus {
    font-size: 25px;
    transition: 1s;
}

@media (min-width: 1025px){
    nav ul li {
        margin-right: 13%;
        margin-left: 13%;
    }
}

@media (min-width: 721px) and (max-width: 1024px) {
    #div-grid {
        grid-template-columns: 1fr;
        padding: 0 15%;
    }

    .two-box {
        grid-template-columns: 1fr;
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 15px;
        padding: 0;
    }
}

@media (max-width: 720px) {
    #div-grid {
        grid-template-columns: 1fr;
        padding: 0 10%;
    }

    .two-box {
        grid-template-columns: 1fr;
    }

    details {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        padding-left: 0;
    }

    nav ul li {
        margin-right: 6%;
        margin-left: 6%;
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 15px;
        padding: 0;
    }

}