body {
    background-image: url("imagens/fundo-olhos.jpg");
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 20px;
}

#div-grid {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: auto;
    gap: 3px;
    padding: 0 20%;
}

#div-main-header {
    color: #ffe4c4;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.divs-grid {
    border: 2px solid white;
    border-radius: 10px;
    background-color: #27130d;
    margin: 3px;
}

header, p {
    margin: 15px;
}

img {
    padding-left: 15px;
    padding-bottom: 15px;
}

h1 {
    padding-right: 25px;
    padding-left: 25px;
    color: red;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    padding: 5px;
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style-type: none;
    padding-left: 50px;
    padding-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #ffe4c4;
}

a:hover {
    background-color: red;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    transition: padding 0.3s;
}